.header {
    background: #242424;
    border-bottom: 1px solid #000;
    color: #fff;
}

.headerOptions {
    display: flex;
}

.hamburger {
    padding: 10px 10px 9px 10px;
    font-size: 20px;
    color: #eeeeee;
}

.logo {
    flex-grow: 1;
    padding-top: 8px;
}

.logo img {
    width: 52px;
}